@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 262 35% 95%;
		--foreground: 0 0% 15%;
		--muted: 262 20% 80%;
		--muted-foreground: 262 20% 25%;
		--popover: 262 36% 96%;
		--popover-foreground: 0 0% 14%;
		--card: 262 34% 94%;
		--card-foreground: 0 0% 16%;
		--border: 262 20% 90%;
		--input: 262 20% 80%;
		--primary: 262 50% 60%;
		--primary-foreground: 262 90% 95%;
		--secondary: 242 50% 60%;
		--secondary-foreground: 242 90% 95%;
		--accent: 202 60% 60%;
		--accent-foreground: 202 90% 95%;
		--destructive: 352 100% 40%;
		--destructive-foreground: 352 100% 95%;
		--ring: 262 50% 50%;
		--chart-1: 262 50% 60%;
		--chart-2: 242 50% 60%;
		--chart-3: 202 60% 60%;
		--chart-4: 242 50% 63%;
		--chart-5: 262 53% 60%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
	.dark {
		--background: 262 35% 10%;
		--foreground: 0 0% 80%;
		--muted: 262 20% 25%;
		--muted-foreground: 262 20% 80%;
		--popover: 262 35% 9%;
		--popover-foreground: 0 0% 81%;
		--card: 262 35% 11%;
		--card-foreground: 0 0% 79%;
		--border: 262 20% 20%;
		--input: 262 20% 30%;
		--primary: 262 50% 55%;
		--primary-foreground: 262 90% 95%;
		--secondary: 242 50% 55%;
		--secondary-foreground: 242 90% 95%;
		--accent: 202 60% 55%;
		--accent-foreground: 202 90% 95%;
		--destructive: 352 100% 35%;
		--destructive-foreground: 352 100% 95%;
		--ring: 262 50% 50%;
		--chart-1: 262 50% 55%;
		--chart-2: 242 50% 55%;
		--chart-3: 202 60% 55%;
		--chart-4: 242 50% 58%;
		--chart-5: 262 53% 55%;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}

	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
